@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to the HR Demo App";
}

<div class="my-5">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">
        Thank you for visiting this app. I’m a Back-End Developer aspiring to be better with Front-End development with Blazor.
    </p>
    <p class="mt-4 mb-5">
        This small HR demo app is designed to handle employee information. This is primarily a learning project.
    </p>
    <h2>Key Features:</h2>
    <ul class="list-unstyled">
        <li><strong>Employee Management:</strong> There's support for CRUD operations for employees.</li>
        <li><strong>Docker Integration:</strong> The application is containerized using Docker Compose, enabling easy deployment and scalability.</li>
        <li><strong>Dark Mode Support:</strong> Added dark mode toggle button in the nav bar - implemented with help from ChatGPT. Modified site.css and site.js to support this.</li>
    </ul>
    <p class="mt-4">
        Please note that while this application demonstrates foundational functionality, some features are still under development.
    </p>
    <h2>Next Steps:</h2>
    <p class="mt-4">
        Feel free to explore the application by selecting the "Employees" link above.
    </p>
</div>

