@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="fs-3">Hello visitor!</h1>
    <p class="fs-5">
        Select Employees link above to add, edit, update and delete Employees.<br><br>
        Docker containers are used for the web app and the SQL Server Database.
    </p>
</div>
